<div class="container">
    <h1>Flats#index</h1>
    <% @flats.each do |flat| %>
    <h4 class="mx-auto py-3">
        <%= flat.name %>
    </h4>
    <ul>
        <li>
            Address:
            <%= flat.address %>
        </li>
        <li>
            Desc:
            <%= flat.description %>
        </li>
        <li>
            Price:
            <%= flat.price_per_night %>
        </li>
    </ul>
    <% end %>
</div>
</div>